<!-- start custom head snippets -->

<link rel="preload" href="{{ '/assets/fonts/inter/inter-400.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/inter/inter-600.ttf' | relative_url }}" as="font" type="font/ttf" crossorigin>

<link rel="icon" href="{{ '/favicon.svg' | relative_url }}" type="image/svg+xml">
<link rel="icon" href="{{ '/favicon-96x96.png' | relative_url }}" sizes="96x96" type="image/png">
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

<meta name="theme-color" content="#1a0533">
<meta name="msapplication-TileColor" content="#1a0533">

<!-- end custom head snippets -->
